<div id="modalConfirmacion" class="modal modal--confirmacion" role="dialog" aria-modal="true" aria-live="assertive">
    <div class="modalContent">
        <p class="modalMessage"></p>
        <div class="modal-actions">
            <button id="btnConfirmarEliminar" class="btn primary-btn eliminar">Eliminar</button>
            <button class="modal__close close" aria-label="Cerrar">&times;</button>
        </div>
    </div>
</div>
<div class="modal modal--error" id="errorModal" role="dialog" aria-modal="true" aria-live="assertive">
    <div class="modalContent">
        <button type="button" class="modal__close close" aria-label="Cerrar">&times;</button>
        <p class="modalMessage"></p>
    </div>   
</div>
    
<div class="modal modal--success" id="successModal" role="dialog" aria-modal="true" aria-live="polite">
    <div class="modalContent">
        <button type="button" class="modal__close close" aria-label="Cerrar">&times;</button>
        <p class="modalMessage"></p>
    </div>
</div> 