<div id="notificacion" class="modal modal--notifi" role="dialog" aria-modal="true" aria-live="assertive">
    <div class="modalContent">
        <section class="modalHeader">
            <h2 class="modalMessage"></h2>
            <button class="modal__close close" aria-label="Cerrar">&times;</button>
        </section>
        <section class="modalMain">
            <div class="notiContent">
            </div>
        </section>
        <section class="modalFooter">
        </section>
    </div>
</div>