{% load static %}
<!DOCTYPE html>
<html lang= "es">

<head>
    <meta charset="UTF-8">
    <meta  name="viewport" content="width=device-width initial-scale=1.0">
    <title>Index Page</title>
</head>

<body>
    <h1> Welcome Trajano </h1>

   
    <img src="{%static 'backend/uaemex.png'%}" alt="Escudo 1">
    <img src="{%static 'backend/images_g/traja.jpg'%}" alt="Escudo 2">
    <img src="{%static 'images_g/traja.jpg'%}" alt="Escudo 2">
    <img src="{%static 'traja.jpg'%}" alt="Escudo 2">
    <img src="{%static 'backend/images_g/1.png'%}" alt="US">
    <img src="{%static '9.png'%}" alt="Fiesta">
    <img src="{%static 'im/13.png'%}" alt="Corazón">
    <img src="{%static '3.png'%}" alt="rancheros">
    <img src="{%static '15.png'%}" alt="gatitos">



</body>
</html>