.header-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-container h2 {
    font-size: 1.8rem;
    color: #5a7561;
    font-weight: bold;
    margin: 0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.register-object-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}

.body-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    align-items: center;
    justify-content: space-between; 
}

#photo-input {
    display: none;
}
  
.photo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #5a7561;
    border-radius: 8px;
    min-height: 300px;
    min-width: 300px;
    position: relative;
    cursor: pointer;
    background-color: black;
}
.file{
    border: none;
}
.photo-container span {
    color: #5a7561;
    font-size: 1rem;
    text-align: center;
}

.photo-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.form-label {
    color: #5a7561;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-control {
    border-radius: 8px;
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem; 
}
.btn-primary {
    background-color: #5a7561;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: auto; 
    text-align: center;
}

