{% extends "base.html" %}
{% load static %}

{% block title %} Confirmación de cuenta {% endblock  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
{% endblock %}

{% block class-header %}ac-header{% endblock  %}

{% block nav-left %}
    <a href="{% url 'home' %}" >
        <img class="logo" src="{% static 'img/logos/escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEMex">
    </a>
{% endblock  %}

{% block nav-center %}
<h1 class="title">Cuenta Confirmada</h1>
{% endblock  %}

{% block class-main %}account-confirm{% endblock  %}
{% block content-main %}
    <div class="account-container">
        <div class="account-header">
            <img src="{% static 'img/logos/escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEM">
        </div>

        <div class="msj-confirm">
            {% if exito %}
                <h2><i class="bi bi-check-circle text-success"></i></h2>
                <h2 class="msj-si">{{ mensaje }}</h2>
            {% else %}
                <i class="bi bi-x-circle text-danger"></i>
                <h2 class="msj-no">{{ mensaje }}</h2>
            {% endif %}
        </div>
        <div class="btns">
            {% if exito %}
                <a href="{% url 'login' %}" class="btn btn-success primary-btn">Inicia sesión</a>
            {% else %}
                {% if uid %}
                    <form action="{% url 'reenviar_confirmacion' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="uid" value="{{uid}}">
                        <button type="submit" class="btn btn-success primary-btn">Reenviar correo</button>
                    </form>
                {% endif %}

                <a href="{% url 'home' %}" class="btn btn-success primary-btn" >Volver al inicio</a>
            {% endif %}
        </div>
    </div>
{% endblock  %}