{% extends 'base.html' %}
{% load static %}

<!-- Título de la página -->
{% block title %} Registro {% endblock %}

<!-- CSS específico (opcional, si necesitas estilos adicionales) -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/forms.css' %}">
{% endblock %}

<!--Header-->
{% block class-header %}r-header{% endblock  %}
<!--nav-->
{% block nav-left %}
<a href="{% url 'home' %}" class="back-arrow">&larr;</a>
{% endblock  %}

{% block nav-center %}
<h1 class="title">Registro</h1>
{% endblock  %}

{% block class-main %}registro{% endblock  %}
{% block content-main %}
    <div class="registro-container">
        <div class="registro-header">
            <img src="{% static 'img/logos/escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEM">
        </div>
        <form id="registro-form" class="registro-form" method="post">
            {%csrf_token%}
    
            <div class="mb-3 form__grupo" id ="g__name" >
                <input type="text" class="form-control  from__input" id="nombre" placeholder="Nombre" name = "nombre" required>
                <p class= "formualrio__error">El nombre solo puede tener letras y espacios </p>
            </div>
            <div class="mb-3 form__grupo" id ="g__last__name" >
                <input type="text" class="form-control from__input" id="apellidos" name="apellidos" placeholder="Apellidos" required>
                <p class= "formualrio__error">Los apellidos solo puede tener letras y espacios</p>
            </div>
            <div class="mb-3 form__grupo" id ="g__numCuenta">
                <input type="text" class="form-control from__input" id="numCuenta" name="numCuenta" placeholder="Num. Cuenta" pattern="^\d{7,7}$" minlength="7" maxlength="7"  title="Solo deben ser numeros del 0 al 9"  required>
                <p class= "formualrio__error">El numero de cuenta debe tener 7 digitos positivos [0-9] </p>
            </div>
            <div class="mb-3">
                <select class="form-control" id="licenciatura" name="licenciatura">
                    <option value="Administracion">Administración</option>
                    <option value="Contaduria">Contaduría</option>
                    <option value="Mercadotecnia">Mercadotecnia</option>
                    <option value="Informatica_Administrativa">Informática Administrativa</option>
                </select>
            </div>
            <div class="mb-3 form__grupo"  id ="g__email">
                <input type="email" class="form-control from__input" id="correo" placeholder="Correo Institucional" name ="correo" required>
                <p class= "formualrio__error">El correo debe ser ejemplo@alumno.uaemex.mx</p>
            </div>
            <div class="mb-3 form__grupo password-group"  id ="g__pass">
                <input type="password" class="form-control from__input" id="password" placeholder="Contraseña" name = "password" title="Debe tener de 8 a 15 caracteres, al menos una mayúscula, una minúscula, un número y un carácter especial. No debe contener espacios." minlength="8" maxlength="15"  required>
                <i class="bi bi-eye-slash-fill toggle-password" data-target="password"></i>
                <p class="formualrio__error">La contraseña debe tener entre 8 y 15 caracteres, al menos una mayúscula, una minúscula, un número y un carácter especial. No debe contener espacios.</p>
            </div>
            <div class="mb-3 form__grupo password-group" id ="g__check__pass">
                <input type="password" class="form-control from__input" id="check__pass" name="check__pass" placeholder="Confirmar contraseña" required>
                <p class= "formualrio__error">Ambas contraseñas deben de ser iguales</p>
                <i class="bi bi-eye-slash-fill toggle-password" data-target="check__pass"></i>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
        <div class="modal" id="errorModal">
            <div class="modalContent">
                <span class="close">&times;</span>
                <p class="modalMessage"></p>
            </div>
        </div>
        <div class="modal" id="successModal">
            <div class="modalContent">
                <span class="close">&times;</span>
                <p class="modalMessage"></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="{% static 'js/registro.js' %}?v={{ timestamp }}"></script>
{% endblock %}