{% extends 'base.html' %}
{% load static %}

{% block title %} Panel de Administración {% endblock  %}

<!-- CSS específico (opcional, si necesitas estilos adicionales) -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pages/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/search-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
{% endblock %}

{% block vista %}vista-admin{% endblock  %}

<!-- Header -->
{% block class-header %}header-nav{% endblock  %}
<!-- Nav-left-->
{% block nav-left %}
    <img class="logo" src="{% static 'img/logos/escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEMex">
    {% if request.user.is_authenticated %}
        <p class="name-user"><i class="bi bi-person-circle"></i>{{ admin_name }}</p>
    {% endif %}
{% endblock %}
<!--Nav center-->
{% block nav-center %}
    <h1 class="title">Panel de Administración</h1>
{% endblock  %}
<!--Nav right-->
{% block nav-right %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_staff%}
            <a href="{% url 'home' %}"><button class="primary-btn home"><i class="bi bi-house-door-fill"></i></button></a>
        {% endif %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button id="logout-button" class="primary-btn home">Sign Out</button>
    {% endif %}
{% endblock  %}

<!--Main-->
{% block content-main %}
    <section class="admin-controls">
        <nav class="navbar navbar-expand-lg navbar-dark nav-centrado main-nav">
            <div class="nav-wrapper">
                <!-- Izquierda -->
                <div class="nav-section izquierda">
                    <h2 class="destacados-text">Destacados</h2>
                </div>

                <!-- Centro -->
                <div class="nav-section centro">
                    
                </div>


                <!-- Derecha -->
                <div class="nav-section derecha admin">
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar" class="hidden-input">
                        <button class="primary-btn search-btn"><i class="fas fa-search"></i></button>
                        <button id="filter-button" class="primary-btn filter-btn">
                            <i class="bi bi-filter"></i> <span class="filter-text">Filtros</span>
                        </button>
                    </div>
    
                    <div id="filter-panel" class="filter-panel">
                        <div class="filter-header">
                            <h3>Filtros de búsqueda</h3>
                            <button id="close-filter-panel" class="close-button">&times;</button>
                        </div>
                        <div class="filter-options">
                            <div class="filter-category">
                                <h4>Fecha de carga</h4>
                                <label><input type="radio" name="fecha-carga" value="last-hour"> Última hora</label>
                                <label><input type="radio" name="fecha-carga" value="hoy"> Hoy</label>
                                <label><input type="radio" name="fecha-carga" value="this-week"> Esta semana</label>
                                <label><input type="radio" name="fecha-carga" value="this-month"> Este mes</label>
                                <label><input type="radio" name="fecha-carga" value="this-year"> Este año</label>
                            </div>
                            
                            <div class="filter-category">
                                <h4>Estado</h4>
                                <label><input type="radio" name="estado"> Reclamado</label>
                                <label><input type="radio" name="estado"> No reclamado</label>
                            </div>
    
                            <div class="filter-category">
                                <h4>Valor</h4>
                                <label><input type="radio" name="valor"> Poco valioso</label>
                                <label><input type="radio" name="valor"> Muy valioso</label>
                            </div>
    
                            <div class="filter-category">
                                <h4>Ordenar por</h4>
                                <label><input type="radio" name="ordenar-por"> Más recientes</label>
                                <label><input type="radio" name="ordenar-por"> Más antiguos</label>
                                <label><input type="radio" name="ordenar-por"> Orden Alfabético (A-Z)</label>
                                <label><input type="radio" name="ordenar-por"> Orden Alfabético (Z-A)</label>
                            </div>
                        </div>
                        <button id="apply-filters" class="btn btn-success primary-btn">Aplicar Filtros</button>
                    </div>

                    <a href="{% url 'object_registro' %}" class="primary-btn add-obj">
                        <i class="bi bi-plus-circle-fill icono"></i> <span class="add-text">Add</span>
                    </a>
                </div>
            </div>
        </nav>
    </section>
    <section class="items_grid" id="objetos-perdidos-container">

    </section>
    <section class="pagination-container">
        <nav aria-label="Paginación de objetos perdidos">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item disabled">
                    <a class="page-link primary-btn" href="#" tabindex="-1">Anterior</a>
                </li>
                <li class="page-item active "><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link primary-btn" href="#">Siguiente</a>
                </li>
            </ul>
        </nav>
    </section>
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/items.js' %}"></script> 
    <script src="{% static 'js/filter.js' %}"></script>
    <script type="module" src="{% static 'js/logout.js' %}?v={{ timestamp }}"></script>
{% endblock %}