{% extends "base.html" %}
{% load static %}

{% block title %}Objetos Reclamados{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/table.css' %}">
<link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/components/button.css' %}">
<link rel="stylesheet" href="{% static 'css/components/table.css' %}">
{% endblock %}


{% block class-header %}objR-header{% endblock  %}

{% block nav-left %}
    <a href="{% url 'home_admin' %}" class="back-arrow">&larr;</a>
{% endblock  %}
<!--Nav center-->
{% block nav-center %}
    <h1 class="title">Objetos Reclamados</h1>
{% endblock  %}


{% block content-main %}

    <h1>Objetos Reclamados</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del usuario</th>
                <th>Número de cuenta</th>
                <th>Objeto</th>
                <th>Mensaje</th>
                <th>Aceptar</th>
                <th>Declinar</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objetos %}
                {% for reclamacion in object.reclamaciones.all %}
                    <tr data-objeto="{{ object.id }}" data-id="{{ reclamacion.id }}">
                        <td>{{reclamacion.usuario.nombre }} {{reclamacion.usuario.apellidos }}</td>
                        <td>{{reclamacion.usuario.alumno.numero_cuenta }}</td>
                        <td>{{ object.nombre }}</td>
                        <td>
                            <div class="mensaje_container">
                                <select name="mensaje_{{object.id}}" class="mensaje-select">
                                    <option value="">-- Selecciona un mensaje --</option>
                                    <option value="Tu objeto está listo para recoger">Tu objeto está listo para recoger</option>
                                    <option value="Tu objeto sigue en revisión">Tu objeto sigue en revisión</option>
                                    <option value="No se encontró coincidencia con la descripción">No se encontró coincidencia con la descripción</option>
                                    <option value="Contacta al área de objetos perdidos para más detalles">Contacta al área de objetos perdidos para más detalles</option>
                                </select>
                                <button class="primary-btn msjbtn" data-id="{{ reclamacion.id }}">Enviar</button>
                            </div>

                        </td>
                        <td>
                            <button class="primary-btn msjbtn aceptar" data-id="{{ reclamacion.id }}" data-objeto="{{ object.id }}">Aceptar</button>
                        </td>
                        <td>
                            <button class="primary-btn msjbtn declinar" data-id="{{ reclamacion.id }}" data-objeto="{{ object.id }}">Declinar</button>
                        </td>
                    </tr>
                {% endfor %}
            {% empty %}
                <tr>
                    <td class="empty" colspan="6" >No hay objetos reclamados</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_js %}
    <script type="module" src="{% static 'js/features/reclamacion.js' %}"></script>
{% endblock %}