<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña para accder al panel de administracion de Objetos Perdidos FCA</title>
</head>
<body>
    <h2>Bienvenido <strong> {{nombre_admin}} {{apellidos_admin}} </strong> al sistema de Objetos perdidos</h2>
    <h2>Para acceder al panel de administracion usa las siguientes credenciales: </h2>
    <p>Correo: <strong> {{email_admin}} </strong></p>
    <p>Contraseña: <strong> {{pass_admin}} </strong></p>
    
</body>
</html>