{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pages/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/search-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
{% endblock  %}


<!--Header-->

{% block nav-left %}
    <img class="logo" src="{% static 'img/logos/escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEMex">
    {% if request.user.is_authenticated %}
        <p><i class="bi bi-person-circle"></i> {{ user_name }} {{ user_lastname }}</p>
    {% endif %}
{% endblock  %}

{% block nav-center %}
    <h1>Objetos Pérdidos</h1>
{% endblock  %}

{% block nav-right %}
    {% if request.user.is_authenticated %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button id="logout-button" class="primary-btn home">Cerrar Sesión</button>
    {% else %}
        <a href="{% url 'login' %}"><button id="login-button" class="primary-btn home">Iniciar Sesión</button></a>
        <a href="{% url 'user_registro' %}"><button id="register-button" class="primary-btn home">Registrarse</button></a>
    {% endif %}
{% endblock  %}

{% block content-main %}
    <section class="admin-controls">
        <nav class="navbar navbar-expand-lg navbar-dark nav-centrado ">
            <div class="nav-wrapper">
                <!-- Izquierda -->
                <div class="nav-section izquierda">
                    <h2 class="destacados-text">Destacados</h2>
                </div>

                <!-- Centro -->
                <div class="nav-section center">
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar">
                        <button class="search-button primary-btn"><i class="fas fa-search"></i></button>
                        <button id="filter-button" class="primary-btn">Filtros</button>
                    </div>

                    <div id="filter-panel" class="filter-panel">
                        <div class="filter-header">
                            <h3>Filtros de búsqueda</h3>
                            <button id="close-filter-panel" class="close-button">&times;</button>
                        </div>
                        <div class="filter-options">
                            <div class="filter-category">
                                <h4>Fecha de carga</h4>
                                <label><input type="radio" name="fecha-carga" value="last-hour"> Última hora</label>
                                <label><input type="radio" name="fecha-carga" value="hoy"> Hoy</label>
                                <label><input type="radio" name="fecha-carga" value="this-week"> Esta semana</label>
                                <label><input type="radio" name="fecha-carga" value="this-month"> Este mes</label>
                                <label><input type="radio" name="fecha-carga" value="this-year"> Este año</label>
                            </div>
                            
                            <div class="filter-category">
                                <h4>Estado</h4>
                                <label><input type="radio" name="estado"> Reclamado</label>
                                <label><input type="radio" name="estado"> No reclamado</label>
                            </div>

                            <div class="filter-category">
                                <h4>Valor</h4>
                                <label><input type="radio" name="valor"> Poco valioso</label>
                                <label><input type="radio" name="valor"> Muy valioso</label>
                            </div>

                            <div class="filter-category">
                                <h4>Ordenar por</h4>
                                <label><input type="radio" name="ordenar-por"> Más recientes</label>
                                <label><input type="radio" name="ordenar-por"> Más antiguos</label>
                                <label><input type="radio" name="ordenar-por"> Orden Alfabético (A-Z)</label>
                                <label><input type="radio" name="ordenar-por"> Orden Alfabético (Z-A)</label>
                            </div>
                        </div>
                        <button id="apply-filters" class="btn btn-success primary-btn">Aplicar Filtros</button>
                    </div>
                </div>


                <!-- Derecha -->
                <div class="nav-section derecha">
                </div>
            </div>
        </nav>
    </section>
    <section class="row" id="objetos-perdidos-container">
        <!-- Los paneles de objetos perdidos se generarán aquí mediante JavaScript -->
    </section>
    <section class="pagination-container">
        <nav aria-label="Paginación de objetos perdidos">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link primary-btn" href="#" tabindex="-1">Anterior</a>
                </li>
                <li class="page-item active "><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link primary-btn" href="#">Siguiente</a>
                </li>
            </ul>
        </nav>
    </section>
    <div class="modal" id="errorModal">
        <div class="modalContent">
            <span class="close">&times;</span>
            <p class="modalMessage"></p>
        </div>   
    </div>
    <div class="modal" id="successModal">
        <div class="modalContent">
            <span class="close">&times;</span>
            <p class="modalMessage"></p>
        </div>
    </div>
{% endblock  %}
{% block extra_js %}
    <script>
        const objetosPerdidos = [
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 1', descripcion: 'Descripción del objeto perdido 1', fecha: '2025-03-16' },
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 2', descripcion: 'Descripción del objeto perdido 2', fecha: '2025-03-15' },
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 3', descripcion: 'Descripción del objeto perdido 3', fecha: '2025-03-14' },
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 4', descripcion: 'Descripción del objeto perdido 4', fecha: '2025-03-13' },
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 5', descripcion: 'Descripción del objeto perdido 5', fecha: '2025-03-12' },
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 6', descripcion: 'Descripción del objeto perdido 6', fecha: '2025-03-11' },
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 7', descripcion: 'Descripción del objeto perdido 7', fecha: '2025-03-13' },
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 8', descripcion: 'Descripción del objeto perdido 8', fecha: '2025-03-12' },
            { imagen: '{% static "img/backgrounds/fondo.jpeg" %}', titulo: 'Objeto perdido 9', descripcion: 'Descripción del objeto perdido 9', fecha: '2025-03-11' }
        ];
    </script>
    <script src="{% static 'js/admin.js' %}"></script>
    <script type="module" src="{% static 'js/logout.js' %}?v={{ timestamp }}"></script>
{% endblock %}