{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pages/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/search-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
{% endblock  %}


<!--Header-->
{% block class-header %}header-nav{% endblock  %}
{% block nav-left %}
    <img class="logo" src="{% static 'img/logos/escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEMex">
    {% if request.user.is_authenticated %}
        <p class="name-user"><i class="bi bi-person-circle"></i> {{ user_name }}</p>
    {% endif %}
{% endblock  %}

{% block nav-center %}
    <h1 class="title">Objetos Pérdidos</h1>
{% endblock  %}

{% block nav-right %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_staff%}
            <a href="{% url 'home_admin' %}"><button class="primary-btn home"><i class="bi bi-house-gear-fill"></i></button></a>
        {% endif %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button id="logout-button" class="primary-btn home">Sign Out</button>
    {% else %}
        <a href="{% url 'login' %}"><button id="login-button" class="primary-btn home">Sign In</button></a>
        <a href="{% url 'user_registro' %}"><button id="register-button" class="primary-btn home">Sign Up</button></a>
    {% endif %}
{% endblock  %}

{% block content-main %}
    <section class="admin-controls">
        <nav class="navbar navbar-expand-lg navbar-dark nav-centrado main-nav">
            <div class="nav-wrapper">
                <!-- Izquierda -->
                <div class="nav-section izquierda">
                    <h2 class="destacados-text">Destacados</h2>
                </div>
                <!-- Centro -->
                <div class="nav-section centro">
                    <div class="search-container">
                        <div class="search-wrapper">
                            <div class="input-container">
                                <input type="text" placeholder="Buscar" class="search-input  hidden-input" id="search-input">
                                <button type="button" id="clear-btn" class="clear-btn" title="Limpiar"><i class="bi bi-x-lg"></i></button>
                            </div>
                            <button class="primary-btn search-btn"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <!-- Derecha -->
                <div class="nav-section derecha ">
                    <div class="filter-container">
                        <button id="filter-button" class="primary-btn filter-btn">
                            <i class="bi bi-filter"></i> <span class="filter-text">Filtros</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="filter-panel" class="filter-panel">
                <div class="filter-header">
                    <h3>Filtros de búsqueda</h3>
                    <button id="close-filter-panel" class="close-button">&times;</button>
                </div>
                <div class="filter-options">
                    <fieldset class="filter-category">
                        <legend>Fecha de carga</legend>
                        <label><input type="radio" name="fecha-carga" value="last-hour"> Última hora</label>
                        <label><input type="radio" name="fecha-carga" value="hoy"> Hoy</label>
                        <label><input type="radio" name="fecha-carga" value="this-week"> Esta semana</label>
                        <label><input type="radio" name="fecha-carga" value="this-month"> Este mes</label>
                        <label><input type="radio" name="fecha-carga" value="this-year"> Este año</label>
                    </fieldset>
                    
                    <fieldset class="filter-category">
                        <legend>Ordenar por</legend>
                        <label><input type="radio" name="ordenar-por" value="recientes"> Más recientes</label>
                        <label><input type="radio" name="ordenar-por" value="antiguos"> Más antiguos</label>
                        <label><input type="radio" name="ordenar-por" value="a-z"> Orden Alfabético (A-Z)</label>
                        <label><input type="radio" name="ordenar-por" value="z-a"> Orden Alfabético (Z-A)</label>
                    </fieldset>
                </div>
                <div class="filters-btn">
                    <button id="apply-filters" class="btn btn-success primary-btn">Aplicar Filtros</button>
                    <button id="reset-filters" class="btn btn-secondary">Limpiar Filtros</button>
                </div>
            </div>
        </nav>
    </section>
    <section class="items_grid" id="objetos-perdidos-container">

    </section>
    <section class="pagination-container">
        <nav aria-label="Paginación de objetos perdidos">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item disabled">
                    <a class="page-link primary-btn" href="#" tabindex="-1">Anterior</a>
                </li>
                <li class="page-item active "><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link primary-btn" href="#">Siguiente</a>
                </li>
            </ul>
        </nav>
    </section>
    
{% endblock  %}
{% block extra_js %}

    <script type="module" src="{% static 'js/items.js' %}"></script>
    <script type="module" src="{% static 'js/search.js' %}"></script>
    <script type="module" src="{% static 'js/filter.js' %}"></script> 
    <script type="module" src="{% static 'js/logout.js' %}?v={{ timestamp }}"></script>
{% endblock %}