.primary-btn {
    min-width: 90px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-button-primary);
    color: var(--color-text-light);
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.primary-btn:hover {
    background-color: var(--color-button-primary-hover);
    color: var(--color-text-light);
}

.primary-btn:focus {
    outline: 2px solid var(--color-button-primary-hover);
    background-color: var(--color-button-primary-hover);
    outline-offset: 2px;
}

.primary-btn.d-btn{
    padding: 5px 0 ;
}
.primary-btn.home{
    margin: 5px;
}

.primary-btn.sign{
    background-color: var(--color-button-secondary);
    color: var(--color-button-primary);
    font-size: 1.2rem;
}
.primary-btn.sign:hover{
    background-color: var(--color-button-secondary-hover);
    color: var(--color-btn-primary-hover);
}


.primary-btn.search-btn {
    min-width: 30px;
    margin: 5px;
}

.primary-btn.filter-btn {
    margin: 5px;
}

.primary-btn .filter-text{
    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.primary-btn.add-obj .icono, .primary-btn.comment .icono{
    display: none;
}

.primary-btn.edit{
    background-color: var(--color-info);
}
.primary-btn.change{
    background-color: var(--color-warning);
}
.primary-btn.delete{
    background-color: var(--color-error);
}
.primary-btn.edit:hover{
    background-color: var(--color-info-hover);
}
.primary-btn.change:hover{
    background-color: var(--color-warning-hover);
}
.primary-btn.delete:hover{
    background-color: var(--color-error-hover);
}
.primary-btn.edit:focus{
    outline: 2px solid var(--color-info-hover);
    background-color: var(--color-info-hover);
    outline-offset: 2px;
}
.primary-btn.change:focus{
    outline: 2px solid var(--color-warning-hover);
    background-color: var(--color-warning-hover);
    outline-offset: 2px;
}
.primary-btn.delete:focus{
    outline: 2px solid var(--color-error-hover);
    background-color: var(--color-error-hover);
    outline-offset: 2px;
}

.primary-btn.edit,.primary-btn.hidden, .primary-btn.delete{
    min-width: 30px;
    margin: 5px;
}

@media screen and (max-width: 700px) {
    .primary-btn.sign{
        font-size: 1.5rem;
        padding: 5px;
    }
    .primary-btn.filter-btn, .primary-btn.add-obj,.primary-btn.sign, .primary-btn.comment, .primary-btn.m-btn, .primary-btn.msjbtn {
        min-width: 30px;
        margin: 5px;
    }
    .add-text, .comment-text, .conf-text{
        display: none;
    }
    .primary-btn.add-obj .icono, .primary-btn.comment .icono {
        display: block;
    }
}