.primary-btn {
    min-width: 90px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-btn-primary);
    color: var(--color-text);
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.primary-btn:hover {
    background-color: var(--color-btn-primary-hover);
}

.primary-btn:focus {
    outline: 2px solid var(--color-btn-primary-hover);
    outline-offset: 2px;
}

.primary-btn.home{
    margin: 5px;
}

.primary-btn.sign{
    background-color: var(--color-principal);
    color: var(--color-btn-primary);
    font-size: 1.2rem;
}
.primary-btn.sign:hover{
    background-color: #DED9D9;
    color: var(--color-btn-primary-hover);
}


.primary-btn.search-btn {
    min-width: 30px;
    margin: 5px;
}

.primary-btn.filter-btn {
    margin: 5px;
}

.primary-btn .filter-text{
    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.primary-btn.add-obj .icono, .primary-btn.comment .icono {
    display: none;
}

.primary-btn.edit,.primary-btn.hidden, .primary-btn.delete{
    min-width: 30px;
    margin: 5px;
}

@media screen and (max-width: 700px) {
    .primary-btn.sign{
        font-size: 1.5rem;
        padding: 5px;
    }
    .primary-btn.filter-btn, .primary-btn.add-obj,.primary-btn.sign, .primary-btn.comment {
        min-width: 30px;
        margin: 5px;
    }
    .add-text, .comment-text{
        display: none;
    }
    .primary-btn.add-obj .icono, .primary-btn.comment .icono {
        display: block;
    }
}