.registro, .login, .obj-register{
    background-image: url('../../img/backgrounds/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registro-container , .login-container {
    max-width: 260px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Encabezado del formulario de registro */
.registro-header, .login-header {
    text-align: center;
    margin-bottom: 20px;
}

.registro-header img, .login-header img {
    max-width: 100px;
    margin-bottom: 10px;
}

/* Campos del formulario */
.registro-form .form-control, .login-form  .form-control {
    border-radius: 50px;
    border: 1px solid #5a7561;    
}
.registro-form .form-control:focus ,.login-form .form-control:focus {
    border-radius: 50px;
    border: 2px solid #526958;

}

/* Botón del formulario */
.registro-form button,.login-form  button {
    width: 100%;
    background-color: #5a7561;
    color: white;
    border: none;
    border-radius: 50px;
}

.registro-form button:hover, .login-form  button:hover {
    background-color: #4a6551;
}


/* Flecha de retroceso */
.back-arrow {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.back-arrow:hover {
    color: #2C5234;
}

/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.formualrio__error{
    font-size: 9.5px;
    margin-bottom: 0;
    display: none;
}
.formualrio__error-activo{
    display: block;
    color: red;
}
.forgot-password {
    text-align: center;
    margin-top: 15px;
}
.forgot-password a {
    color: #5a7561;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}

.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #5a7561;
    font-size: 1.2rem;
}
