.registro, .login, .obj-register{
    background-image: var(--background-main);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registro-container , .login-container {
    max-width: 260px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-background);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Encabezado del formulario de registro */
.registro-header, .login-header {
    text-align: center;
    margin-bottom: 20px;
}

.registro-header img, .login-header img {
    max-width: 100px;
    margin-bottom: 10px;
}

/* Campos del formulario */
.registro-form .form-control, .login-form  .form-control {
    border-radius: 50px;
    border: 1px solid var(--color-button-primary);    
}
.registro-form .form-control:focus ,.login-form .form-control:focus {
    border-radius: 50px;
    border: 2px solid var(--color-btn-primary-hover);

}


/* Flecha de retroceso */
.back-arrow {
    font-size: 24px;
    color: var(--color-text-light);
    text-decoration: none;
    margin-left: 10px;
}

.back-arrow:hover {
    color: var(--color-gray);
}
.formualrio__error{
    font-size: 9.5px;
    margin-bottom: 0;
    display: none;
    margin-top: 5px;
    padding-right: 25px;
}
.formualrio__error-activo{
    display: block;
    color: var(--color-error);
}
.forgot-password {
    text-align: center;
    margin-top: 15px;
}
.forgot-password a {
    color: var(--color-button-primary);
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}

.input__pass{
    position: relative;
}
.input__pass input{
    width: 100%;
    padding-right: 2.5rem;
}

.input__pass .toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-button-primary);
    font-size: 1.2rem;
    z-index: 2;
}
