.r-header, .l-header, .objR-header,.ac-header{
    background-image: var(--background-header);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h1,h2,h3{
    color: var(--color-titulo-claro);
}