.logo{
    max-height: 60px;
}
.nav-centrado{
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}

.nav-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-section{
    flex: 1;
    padding: 0 10px;
    height: 80px;
}

.nav-section.izquierda{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-section.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-section.derecha{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.name-user {
    font-size: 1.25rem;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.name-user i {
    font-size: 1.5em;
    color: #444;
}

#notif-badge{
    display: none;
}
.notif-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 2rem;
    height: 2rem;
    color: red;
    border-radius: 50%;
    border: 2px solid red;
    font-weight: bold;
}

.nav-section.derecha.principal {
    gap: 10px; /* separa los elementos */
}

.search-container,
.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 700px) {

    .header-nav .admin-title{
        font-size: 18px;
        letter-spacing: 0;
    }
    .header-nav .nav-section.izquierda {
        flex-direction: column; /* apila los elementos verticalmente */
        align-items: flex-start; /* opcional: alinea a la izquierda */
    }
    
    .header-nav .name-user {
        margin-top:10px; /* para separación */
        font-size: 1.05rem;
        font-weight: bold;
    }
    .header-nav .name-user i {
        font-size: 1.15rem;
    }

    .notif-badge{
        width: 1.45rem;
        height: 1.45rem;
        font-size: .9rem;
    }

    .header-nav .nav-section.derecha {
        flex-direction: column; /* apila los elementos verticalmente */
        align-items: flex-end; /* opcional: alinea a la izquierda */
    }

    /* main */
    .main-nav .nav-section.izquierda h2{
        letter-spacing:0;
    }
    .main-nav .nav-section.izquierda .destacados-text{
        font-size: 20px;
        padding-left: 0px;
        font-weight: bolder;
        display: none;
    }

    .main-nav .nav-section.centro {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .main-nav .nav-section.derecha.admin{
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}
