.logo{
    max-height: 60px;
}
.nav-centrado{
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}

.nav-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-section{
    flex: 1;
    padding: 0 10px;
    height: 80px;
}

.nav-section.izquierda{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-section.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-section.derecha{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


@media screen and (max-width: 700px) {
    /* header */
    .header-nav h1{
        font-size: 20px;
        letter-spacing: 1;
    }
    .header-nav .admin-title{
        font-size: 20px;
        letter-spacing: 0;
    }
    .header-nav .nav-section.izquierda {
        flex-direction: column; /* apila los elementos verticalmente */
        align-items: flex-start; /* opcional: alinea a la izquierda */
    }
    .header-nav .nav-section.centro {
        text-align: center;
    }
    
    .header-nav .name-user {
        margin-top:10px; /* para separación */
        font-size: 12px;
        font-weight: bold;
        color: blueviolet;
    }
    .header-nav .nav-section.derecha {
        flex-direction: column; /* apila los elementos verticalmente */
        align-items: flex-end; /* opcional: alinea a la izquierda */
    }

    /* main */
    .main-nav .nav-section.izquierda h2{
        letter-spacing:0;
    }

    .main-nav .nav-section.izquierda .destacados-text{
        font-size: 20px;
        padding-left: 0px;
        font-weight: bolder;
    }
    .main-nav .nav-section.derecha.admin{
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
}
