.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-wrapper{
    display: flex;
    width: 100%;
    max-width: 650px;
    align-items: center;
    gap: 10px;
}

.input-container {
    position: relative;
    flex: 1;
    min-width: 0;
}

.search-input{
    width: 100%; /* ocupa todo el ancho del input-container */
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    font-size: 1rem;
}

.clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: none;
}

/* Icono dentro del botón */
.clear-btn i {
    font-size: 1rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 700px) {

    .input-container {
        flex: unset;
        width: 130px;
    }

    .search-input {
        width: 100%;
    }
}