.search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #5a7561;
}

.search-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    width: 100%;
}

.search-bar input {
    flex: 1;
    height: 37px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



@media screen and (max-width: 700px) {
    
    .search-bar {
        justify-content: center;
    }
    .search-bar input{
        display: none;
    }
    .search-bar .filter-text{
        display: none;
    }
}