/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}
a{
    text-decoration: none;
    color: var(--color-text-light);
}

h1, h2, h3, .user p {
    color: var(--color-text-light);
    font-family: var(--font-title);
    font-weight: bold;
    letter-spacing: 5px;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
.user p { font-size: 15px; }

.layout-grid{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
}
main {
    padding: 0px 20px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

.title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

footer{
    background-image: var(--background-footer);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 0;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.footer-text p {
    position: relative;
    z-index: 2;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    text-align: center;
    color: var(--color-text-light);
}
.footer-text p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (max-width: 700px) {
    .title{
        font-size: 1.2rem;
        letter-spacing: 0;
    }
}