{% extends "base.html" %}
{% load static %}
{% block title %}Inicio de Sesión{% endblock  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
{% endblock %}

{% block class-header %}l-header{% endblock  %}

{% block nav-left %}
    <a href="{% url 'home' %}" class="back-arrow"><i class="bi bi-arrow-left-circle-fill"></i></a>
{% endblock  %}
{% block nav-center %}
    <h1 class="title">Inicio de Sesión</h1>
{% endblock  %}
{% block nav-right %}
    <a href="{% url 'user_registro' %}" class="btn primary-btn sign"><i class="bi bi-person-fill-add"></i></a>
{% endblock  %}

{% block class-main %}login{% endblock  %}

{% block content-main %}
    <div class="login-container">
        <div class="login-header">
            <img src="{% static 'img\logos\escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEM">
        </div>
        <form id="login-form" class="login-form" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" placeholder="Correo Electrónico" required>
            </div>
            <div class="mb-3 password-group">
                <div class="input__pass">
                    <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                    <i class="bi bi-eye-slash-fill toggle-password" data-target="contrasena"></i>
                </div>
            </div>
            <button type="submit" class="primary-btn">Iniciar Sesión</button>
            <div class="forgot-password">
                <a href="{% url 'reset_password' %}">¿Olvidaste tu contraseña?</a>
            </div>
        </form>     
    </div>
{% endblock  %}

{% block extra_js %}
    <script type="module" src="{% static 'js/auth/loginForm.js' %}?v={{ timestamp }}"></script>
{% endblock  %}