<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud para Restablecer Contraseña</title>
</head>
<body>
    <h2 style="color: #2c3e50;">¡Bienvenido al Sistema de Objetos Perdidos de la Facultad de Contaduría y Administración!</h2>
    <p>Hola <strong>{{nombre_alumno}} {{apellidos_alumno}}</strong></p>
    <p>Por favor haz clic en el siguiente enlace para restablecer tu contraseña:</p>
    <a href="{{ reset_url }}" style="display:inline-block;padding:10px 20px;background-color:#198754;color:white;text-decoration:none;border-radius:5px;font-weight:bold;">Restablecer contraeña</a>
    <p><small>Si no solicitaste este registro, ignora este mensaje.</small></p>
</body>
</html>