{% extends "base.html" %}
{% load static %}
{% block title %}Restablecer Contraseña{% endblock  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
{% endblock %}

{% block class-header %}l-header{% endblock  %}

{% block nav-left %}
    <a href="{% url 'home' %}" class="back-arrow"><i class="bi bi-arrow-left-circle-fill"></i></a>
{% endblock  %}
{% block nav-center %}
    <h1 class="title">Restablecer Contraseña</h1>
{% endblock  %}
{% block nav-right %}
{% endblock  %}

{% block class-main %}login{% endblock  %}

{% block content-main %}
    <div class="login-container">
        <div class="login-header">
            <img src="{% static 'img\logos\escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEM">
        </div>

        <form class="login-form"  method="POST" id="reset_pass">
            {% csrf_token %}
            <div class="mb-3">
                <label for="correo_electronico" class="form-label reset">Correo electrónico</label>
                <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" placeholder="Correo electrónico" required>
            </div>
            <button type="submit" class="primary-btn">Recuperar Contraseña</button>
        </form>
    </div>
{% endblock  %}

{% block extra_js %}
    <script type="module" src="{% static 'js/pages/reset_pass.js' %}?v={{ timestamp }}"></script>
{% endblock  %}