{% extends "base.html" %}
{% load static %}
{% block title %}Restablecer Contraseña{% endblock  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
{% endblock %}

{% block class-header %}l-header{% endblock  %}

{% block nav-left %}
    <a href="{% url 'home' %}" class="back-arrow"><i class="bi bi-arrow-left-circle-fill"></i></a>
{% endblock  %}
{% block nav-center %}
    <h1 class="title">Restablecer Contraseña</h1>
{% endblock  %}
{% block nav-right %}
{% endblock  %}

{% block class-main %}login{% endblock  %}

{% block content-main %}
    <div class="login-container">
        <div class="login-header">
            <img src="{% static 'img\logos\escudo-positivo-color-vertical-2-lineas.png' %}" alt="Escudo UAEM">
        </div>

        <div class="msj-confirm">
            {% if exito %}
                <h2><i class="bi bi-check-circle text-success"></i></h2>
                <h2 class="msj-si">{{ mensaje }}</h2>
            {% else %}
                <i class="bi bi-x-circle text-danger"></i>
                <h2 class="msj-no">{{ mensaje }}</h2>
            {% endif %}
        </div>
        
        {% if exito %}
            <form class="registro-form"  method="POST" id="new_pass" action="{% url 'reset_pass_check' uidb64=uidb64 %}">
                {% csrf_token %}

                <div class="mb-3 form__grupo password-group"  id ="g__pass">
                    <div class="input__pass">
                        <input type="password" class="form-control from__input" id="password" placeholder="Contraseña" name = "password" title="Debe tener de 8 a 15 caracteres, al menos una mayúscula, una minúscula, un número y un carácter especial. No debe contener espacios." minlength="8" maxlength="15"  required>
                        <i class="bi bi-eye-slash-fill toggle-password" data-target="password"></i>
                    </div>
                    <p class="formualrio__error">La contraseña debe tener entre 8 y 15 caracteres, al menos una mayúscula, una minúscula, un número y un carácter especial. No debe contener espacios.</p>
                </div>
                <div class="mb-3 form__grupo password-group" id ="g__check__pass">
                    <div class="input__pass">
                        <input type="password" class="form-control from__input" id="check__pass" name="check__pass" placeholder="Confirmar contraseña" required>
                        <i class="bi bi-eye-slash-fill toggle-password" data-target="check__pass"></i>
                    </div>
                    <p class= "formualrio__error">Ambas contraseñas deben de ser iguales</p>
            </div>

                <button type="submit" class="primary-btn">Confirmar</button>
            </form>
        {% else %}
            {% if uid %}
                <form action="{% url 'reenviar_pass' %}" method="POST" class="login-form" id="reenviarForm">
                    {% csrf_token %}
                    <input type="hidden" name="uid" value="{{uid}}">
                    <button type="submit" class="primary-btn">Reenviar correo</button>
                </form>
            {% endif %}
        {% endif %}
        
    </div>
{% endblock  %}

{% block extra_js %}
    <script type="module" src="{% static 'js/pages/reset_pass.js' %}?v={{ timestamp }}"></script>
{% endblock  %}